/allure-results/0ca3acf7-fc3c-4601-b451-f3bc8390fee2-container.json
/allure-results/2de4ccde-609c-48ae-b882-58f97e494ab9-container.json
/allure-results/2f9c6553-1445-452c-8bfa-1cf3f9e1d78d-container.json
/allure-results/4dbb1efc-41b0-46ce-ab6e-01ef4c406453-result.json
/allure-results/4f134b2f-7837-4976-84fa-a3961d869997-container.json
/allure-results/7b7edb53-ba20-4212-895a-9b958660d89d-container.json
/allure-results/7f86f20d-66ac-4ada-8aaf-94831b9d6ed2-container.json
/allure-results/8c790807-9097-4fa3-9be3-11fca7aa8a51-container.json
/allure-results/9e344aea-6e4c-44cd-bf0e-f39141f2eef8-container.json
/allure-results/28b012af-ea60-4328-aa4e-93ae782cda34-container.json
/allure-results/47bcb59f-992d-4cc1-b1f0-4143c9882cda-result.json
/allure-results/56bcfd52-452b-462f-bf9c-d8f783ec007d-container.json
/allure-results/075f1795-910c-4f4c-a187-7963b03a5055-container.json
/allure-results/903da7ea-0562-452e-9401-fc009530fa5e-container.json
/allure-results/6181ac90-4ebb-44fc-8d70-1ba4fedcbb57-result.json
/allure-results/8322fcc7-457f-4d83-b596-32a279e8610f-container.json
/allure-results/8756ea7c-edd6-4ed3-a6c2-6e59dd8fe7d5-container.json
/allure-results/90542f73-c78f-41b9-8541-ee97ad59f647-result.json
/allure-results/871061e3-4b00-4c14-9402-6d1bb2a17454-container.json
/allure-results/12297364-20ac-4a1f-83e2-442bf7c858c7-container.json
/target/test-classes/tests/AccountAddresses.class
/target/test-classes/pageObject/AccountPage.class
/target/test-classes/pageObject/AccountsPage.class
/target/test-classes/tests/AllowResourceSelectionWhenAddingPackage.class
/target/test-classes/utils/Listeners/AnnotationTransformer.class
/target/test-classes/pageObject/Availability.class
/target/test-classes/tests/AvailabilityLightningComponentShowsInactiveRoomTypes.class
/target/classes/pages/BasePage.class
/target/test-classes/tests/BaseTest$1.class
/target/test-classes/tests/BaseTest.class
/allure-results/be2858d8-06f9-458e-9e68-c1a41bffc464-container.json
/allure-results/c56a4435-ab9a-4025-89ca-e483f711718e-result.json
/allure-results/c946d361-ba8f-43c6-84e4-31dde40860d4-container.json
/allure-results/c20089d0-6edf-4d3a-98dc-9518a56bbddf-container.json
/target/test-classes/tests/CancellationOfOrders.class
/target/test-classes/pageObject/CategoryAdjustment.class
/target/test-classes/pageObject/CategoryPrice.class
/target/test-classes/tests/TB/ChangeDateFlowAndCanceledReservations.class
/target/test-classes/pageObject/ChangeResource.class
/target/test-classes/tests/TB/ChangingPackageLinesTimingDoesNotChangeProductTiming.class
/target/test-classes/pageObject/CheckAvailabilitiesComponent$1.class
/target/test-classes/pageObject/CheckAvailabilitiesComponent.class
/target/test-classes/clearCache/ClearCache.class
/target/test-classes/tests/CloneMyceQuoteAndCloneSelection.class
/target/test-classes/tests/CloneMyceQuoteAndQHRPQuantity.class
/target/test-classes/tests/CloneMyceQuoteQuoteName.class
/target/test-classes/tests/CloneOverbookingVersion.class
/target/test-classes/tests/ClonePackage.class
/target/test-classes/tests/TB/CloneSelection.class
/target/test-classes/tests/ComboProductTaxChange.class
/target/test-classes/tests/Commission.class
/target/test-classes/tests/CommissionCorrections.class
/target/test-classes/tests/Complimentary.class
/target/test-classes/tests/ComplimentaryOnQuotesRelated.class
/target/test-classes/pageObject/Contact.class
/target/test-classes/pageObject/ConvertWindow.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/test-classes/pageObject/CreateQuoteHotelRoomComponent.class
/target/test-classes/tests/CreateQuoteMeetingRoomFromQuoteProduct.class
/target/test-classes/pageObject/CreateResourceForm.class
/target/test-classes/pageObject/CreditNoteLine.class
/target/test-classes/dates/Dates.class
/target/test-classes/tests/DefaultSetupTesting.class
/target/test-classes/pageObject/Deposit.class
/target/test-classes/pageObject/DeveloperConsoleWindow.class
/target/test-classes/tests/TB/ErrorInChangingTimesInMeetingRooms.class
/target/test-classes/tests/ErrorManagementNullPriceOnProduct.class
/target/test-classes/utils/ExcelUtils/ExcelUtil.class
/target/test-classes/utils/ExtentReports/ExtentManager.class
/target/test-classes/utils/ExtentReports/ExtentTestManager.class
/allure-results/fe43128b-1a71-4803-8dee-062dda8caff0-container.json
/target/test-classes/pageObject/Files.class
/target/test-classes/tests/FSDatesOnQuotePackage.class
/target/test-classes/pageObject/FunctionSheet.class
/target/test-classes/pageObject/FunctionSheetDay.class
/target/test-classes/pageObject/GroupBookingComponent.class
/target/test-classes/tests/GroupBookingPackageLines.class
/target/test-classes/tests/GuestManagementTesting.class
/target/test-classes/pageObject/Guests.class
/target/test-classes/tests/GuestToContact.class
/target/test-classes/pageObject/HapiProperty.class
/target/test-classes/tests/HistoryTracking.class
/target/classes/pages/HomePageForPackageOrg.class
/target/classes/pages/HomePageForScratchOrg.class
/target/test-classes/pageObject/Hotel.class
/target/test-classes/tests/HotelInventory.class
/target/test-classes/tests/HotelRoomModifications.class
/target/test-classes/tests/TB/HotelRoomRateChangeNotSentToMews.class
/target/test-classes/tests/TB/HotelRoomsRevenueIsCountedToTheQuoteTotalHotelRoomRevenueDespiteTheHotelRoomsBeingCancelled.class
/target/test-classes/tests/TB/IncorrectEndDateOnQPafterStartDateIsChangedOnQP.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/test-classes/pageObject/Invoice.class
/target/test-classes/pageObject/Items.class
/target/test-classes/pageObject/JsonParser.class
/target/test-classes/pageObject/JsonParser2.class
/target/test-classes/tests/TB/ListPriceIsRecalculatedWhenDiscountIsChanged.class
/target/classes/utilities/Log.class
/target/classes/log4j.properties
/target/test-classes/tests/UI/LogInOnScratchOrgTest.class
/target/classes/pages/LoginPageForPackageOrg.class
/target/classes/pages/LoginPageForScratchOrg.class
/target/test-classes/pageObject/MAdjustments.class
/target/test-classes/tests/MeetingRoomAndResourcePricing.class
/target/test-classes/tests/MeetingRoomSetup.class
/target/test-classes/pageObject/Mews.class
/target/test-classes/tests/MEWSavailabilityBlock.class
/target/test-classes/tests/MewsBlockUpdate.class
/target/test-classes/tests/MewsReleaseDateUpdate.class
/target/test-classes/tests/MoveProcessesToApex.class
/target/test-classes/tests/MultiDaysPackages.class
/target/test-classes/pageObject/MultiDelete.class
/target/test-classes/tests/MultiDeleteTesting.class
/target/test-classes/pageObject/MultiEditMeetingRooms.class
/target/test-classes/tests/MultiEditOnQuotesRelatedList.class
/target/test-classes/pageObject/MultiEditProducts.class
/target/test-classes/tests/MyceQuoteAndDeposits.class
/target/test-classes/tests/MyceQuoteComplimentaryChangePriceCalculationWithHandleUnitField.class
/target/test-classes/tests/MyceQuoteFillOptionDate.class
/target/test-classes/tests/MyceQuoteReleaseDateFormulaField.class
/target/test-classes/pageObject/MyceQuotes.class
/target/test-classes/tests/MyceToOpera.class
/target/test-classes/tests/NextFunctionSheet.class
/target/test-classes/tests/OnConsumption.class
/target/test-classes/tests/OperaBlockMultiPropertiesQuote.class
/target/test-classes/tests/OperaQuoteAndPMSBlockMapping.class
/target/test-classes/tests/OperaWriteCorrections.class
/target/test-classes/tests/OperaWriteCorrections2.class
/target/test-classes/tests/TB/OptionalProducts.class
/target/test-classes/tests/OptionalProducts.class
/target/test-classes/tests/OptionalProductWasAddedToAnOrderAndSentToMews.class
/target/test-classes/tests/TB/OptionalQPandQMRDiscount.class
/target/test-classes/pageObject/Order.class
/target/test-classes/tests/OrdersAmountToZero.class
/target/test-classes/tests/TB/OrdersWithNegativeRevenueWereNotCreated.class
/target/test-classes/tests/OverbookingAndPriceUpdate.class
/target/test-classes/tests/OverbookingDateTimes.class
/target/test-classes/pageObject/PackageLine.class
/target/test-classes/tests/PackageLineRatePlan.class
/target/test-classes/pageObject/Packages.class
/target/test-classes/tests/PackagesCustomPrice.class
/target/test-classes/tests/PackagLineTypeOfOccupancy.class
/target/test-classes/pageObject/Payment.class
/target/test-classes/tests/PaymentToMews.class
/target/test-classes/pageObject/PMSAccount.class
/target/test-classes/tests/PMSAccountGROUP.class
/target/test-classes/tests/PMSAccountIsPrimary.class
/target/test-classes/pageObject/PMSBlock.class
/target/test-classes/tests/PMSBlockAndMadjustmentsMewsInterface.class
/target/test-classes/tests/TB/PMSBlockChangeDate.class
/target/test-classes/tests/TB/PMSBlockCodeDoesntMapTheValueFromCustomFieldOnQuote.class
/target/test-classes/tests/PMSBlockLostStatusAndReason.class
/target/test-classes/tests/Preparation.class
/target/test-classes/tests/PreventReservedHotelRoomsFromBeingDeleted.class
/target/classes/PreviewData.xlsx
/target/test-classes/pageObject/Product.class
/target/test-classes/tests/QuoteAccountsToPMSAccounts.class
/target/test-classes/pageObject/QuoteAnalytics.class
/target/test-classes/tests/QuoteAnalyticsProcess.class
/target/test-classes/pageObject/QuoteBudget.class
/target/test-classes/tests/TB/QuoteBudgetMultipropertyQuote.class
/target/test-classes/tests/TB/QuoteBusinessSegmentIsNotSentToMews.class
/target/test-classes/tests/TB/QuoteDateRecordsNotGenerated.class
/target/test-classes/pageObject/QuoteHotelRoom.class
/target/test-classes/tests/QuoteHotelRoomAndRatePrices.class
/target/test-classes/tests/QuoteHotelRoomAssignMewsState.class
/target/test-classes/pageObject/QuoteHotelRoomPrice.class
/target/test-classes/tests/TB/QuoteHotelRoomQuantity.class
/target/test-classes/tests/QuoteHotelRoomQuantityBudgetsAndSubtotals.class
/target/test-classes/tests/QuoteHotelRoomQuantityMAdjustment.class
/target/test-classes/tests/QuoteHotelRoomQuantityPerNight.class
/target/test-classes/tests/QuoteHotelRoomQuantityPMSBlocks.class
/target/test-classes/tests/QuoteHotelRoomQuantityReservations.class
/target/test-classes/tests/QuoteHotelRoomTimeFields.class
/target/test-classes/pageObject/QuoteMeetingPackages.class
/target/test-classes/pageObject/QuoteMeetingRoom.class
/target/test-classes/tests/TB/QuoteMeetingRoomHalfDayAndBreakOutCheckBoxesDoesNotAdjustTheMeetingRoomUnitPriceIfNotNew.class
/target/test-classes/tests/QuoteMeetingRoomTimes.class
/target/test-classes/pageObject/QuotePackageLine.class
/target/test-classes/tests/QuoteProductCreation.class
/target/test-classes/tests/QuoteProductMeetingRoomInteractions.class
/target/test-classes/pageObject/QuoteProducts.class
/target/test-classes/tests/QuoteProductsUnit.class
/target/test-classes/tests/QuotesAccountToMews.class
/target/test-classes/pageObject/Rate.class
/target/test-classes/pageObject/RatePrice.class
/target/test-classes/tests/Request_Agent.class
/target/test-classes/pageObject/Requests.class
/target/test-classes/tests/ReservationAmountToZero.class
/target/test-classes/tests/ReservationCreationProcess.class
/target/test-classes/tests/TB/ReservationGuestCreatedTwice.class
/target/test-classes/pageObject/Reservations.class
/target/test-classes/tests/TB/ReservationStatusDiscrepancyBetweenThynkAndMews.class
/target/test-classes/pageObject/Resource.class
/target/test-classes/pageObject/ResourceGrouping.class
/target/test-classes/tests/ResourceGroupingTesting.class
/target/test-classes/utils/Listeners/Retry.class
/target/test-classes/pageObject/RoomingList.class
/target/test-classes/tests/RoomingList.class
/target/test-classes/tests/TB/RoomingListArrivalDateNotUpdatedIfArrivalDateOfTheReservationIsChanged.class
/target/test-classes/tests/TB/RoomingListContainingCancelledReservations.class
/target/test-classes/tests/RoomingListV2.class
/target/test-classes/pageObject/Rooms.class
/target/test-classes/pageObject/RoomType.class
/target/test-classes/utils/ScreenShotRobot.class
/target/test-classes/pageObject/SfdxCommand.class
/target/test-classes/tests/ShadowMeetingRooms.class
/target/test-classes/tests/TestData.class
/target/test-classes/tests/TestInWork.class
/target/test-classes/utils/Listeners/TestListener.class
/target/test-classes/tests/ToastMessagesTesting.class
/target/test-classes/tests/TotalAmountInclTax.class
/target/test-classes/tests/TB/TotalTaxIsNotCalculatedCorrectlyOnOneQuote.class
/target/test-classes/tests/TB/UnableToAddQPwithQPofTypeMeetingRoomToQuoteWhichHasPMSblock.class
/target/test-classes/tests/TB/UnableToChangeMeetingRoomOnProduct.class
/target/test-classes/tests/TB/UnableToChangeQuotePax.class
/target/test-classes/tests/UpdateOrders.class
/target/test-classes/pageObject/User.class
/target/test-classes/tests/ValidationRules/ValidationRule1.class
/target/test-classes/tests/ValidationRules/ValidationRule2.class
/target/test-classes/tests/ValidationRules/ValidationRule3.class
/target/test-classes/tests/ValidationRules/ValidationRule4.class
/target/test-classes/tests/UI/ValidationRuleTest1.class
/target/test-classes/utils/Annotations/Xray.class
/target/test-classes/utils/Annotations/XrayListener.class
